* {
	/* border: 1px solid !important; */
}

nav.ListContainer {
	max-width: 900px;
	margin: 0 auto;
}

nav.ListContainer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

li.ItemContainer {
  flex: 1 0 185px;
  max-width: 195px;
  text-align: center;
  padding:20px;
}

/* .ListContainer li:first-of-type {
	order: 1;
}

.ListContainer li:nth-of-type(2) {
	order: 2;
} */