* {
    /* border: 1px solid !important; */
}

/* ul,li, p, h4 {
    border: 1px solid 
} */


/* margin: auto will center an element on the page */
nav.ListContainer {
    max-width:800px;
    margin: 0 auto ;
}

/* FLEX PARENT => display:flex */
nav.ListContainer ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* FLEX CHILDREN */
li.ItemContainer {
    flex:1 0 185px;
    max-width:185px;
    padding:20px;
     text-align:center;
}

/* the space in the rule represents a child element */
nav.ListContainer li:first-of-type  {
    order: 1;
}

nav.ListContainer li:nth-of-type(2) {
    order: 2;
}

nav.ListContainer li:last-of-type {
    /* order: 1; */
}

/* Optent to use  text-align:center instead of nested flexbox*/
/* li .ItemContentContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
} */
